#footer {
	 height: 60px;
	 background-color: #f5f5f5;
}

.credit {
   margin-top: 20px;
   text-align:center
}

.thumbnail {
	float: right;
	margin: 15px;	
}

.sidebar {
    float:right;
}

.subhead {
	background-image: url('images/ucla2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	padding: 45px;
	color: white;
	text-shadow: 3px 3px 5px black;
	margin-bottom: 30px;
	white-space: nowrap;
}

.subhead h1 {
	font-size: 60px;
}

.subhead p {
	font-size: 24px;
	font-weight: 300;
}


.nav li a {
	color: #003399;
}

.affix {
	top: 10px;
}

#emptyness {
	height: 1000px;

}

#regscreenshot{
	margin-top: 10px;
	margin-bottom: 15px;
}

section {
	padding-top: 10px;
}

@media all and (max-width:779px){
	.affix {
		position: static;
	}
	.subhead h1 {
		font-size: 32px;
	}
	
	.subhead p {
		font-size: 24px;
		font-weight: 300;
	}

	#sponsors li{
		width: 200px;
		margin: auto;
	}
}

@media all and (max-width:479px){
	.subhead, .media-object {
		display: none;
	}

}

.media-object{
	width: 64px;
	margin-right: 25px;
	margin-top: 15px;
}
